:root {
  --Black: #101010;
  --textGrey: #2e2e2e;
  --textLightGrey: #505050;
  --darkGreen: #10221b;
  --LightBgGrey: #f3f7fa;
  --primary: #151d45;
  --secondary: #d90f2f;
  --BgCream: #fcf9f6;
  --BGrey: #e1e3e5;
}

@media only screen and (min-width: 1920px) {}


@media (max-width: 1500px) {
  .ExtraPadd{
    padding-left: 200px;
  }
}

@media (max-width: 1480px) {
  .ExtraPadd{
    padding-left: 100px;
  }
  .idxStdt.std2 {
    right: 28%;
    top: 1.5%;
  }
}

@media (max-width: 1399.98px) {
  .ExtraPadd{
    padding-left: 20px;
  }
  .idxStdt.std1 {
    right: 30%;
    top: 27%;
}

.secH {
  font-size: 48px;
}
.idxStdt.std2 {
  right: 27%;
  top: 7.5%;
}

 }

@media only screen and (min-width: 1600px) and (max-width: 1900px) {}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
 
}



@media (max-width: 1199.98px) { 

  .secH {
    font-size: 40px;
  }

  .therdH {
    font-size: 22px;
  }
  .ExtraPadd{
    padding-left: 12px;
  }

  #accordionExample  #headingFive button{
   border-radius: 0;
  }
  .FAQ_Section .accordion {
    border-radius: 0;
}
  #accordionExample2  #headingOne2 button{
   border-radius: 0;
  }

  .FAQ_Section   #accordionExample  .accordion-item:last-child {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

  

  .Banner{
    background: url('../image/girl.png'), linear-gradient(var(--BgCream),var(--BgCream));
    background-position:  right bottom, center;
    background-repeat: no-repeat no-repeat;
    background-size: auto 465px, cover;
    isolation: isolate;
    }
    .idxStdt.std2 {
      right: 25%;
      top: 7.5%;
  }
  .idxStdt.std1 {
    right: 25%;
    top: 28%;
    z-index: -1;
}
.display-3 {
  font-size: 36px;
}
.Banner .container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 60px 30px;
}
.allLinksFooter{
  row-gap: 24px;
}

.navbar-brand {
  margin-right: 24px;
  width: 9rem;
}
.navbar-nav {
  gap: 24px;
}
.preferredLocation{
  background: none;
}
 }

 @media (max-width: 1086.98px) {
  .package-info-block{
    width: 50%;
  }
  .package-info-block:nth-child(even)::after{
    display: none;
  }
  .package-info-block::after {
    right: 19%;
}

.countryCard .therdH{
  font-size: 20px;
}

 }

@media (max-width: 991.98px) { 

  .secH {
    font-size: 36px;
  }

  .therdH {
    font-size: 20px;
  }

  .navbar-nav {
    gap: 0px;
}
.nav-link {
  padding: 8px 0px !important;
}


  .miniheader .container-fluid > .row {
    justify-content: center;
}

.Banner{
  background: linear-gradient(var(--BgCream),var(--BgCream));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .idxStdt{
    display: none;
  }
  .f-bottom .row{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
  }
  .f-bottom .inner{
    text-align: center;
  }

  .ourService .reorder .leftCol{
   order: 1;
  }
  .ourService .reorder .ImageCol{
    order: 3;
   }
   .ourService .reorder .rightCol{
    order: 2;
   }

   .HighlightedTopics .secH{
    margin-left: 0;
   }

   .Topics2 .container-fluid>.row{
    flex-direction: column-reverse;
    row-gap: 24px;
   }

 }

 @media screen and (max-width: 912px) {
 

 }


@media (max-width: 767.98px) {

  .secH {
    font-size: 32px;
  }

  .fifthH {
    font-size: 18px;
  }

  .miniheader .fifthH {
   font-size: 16px;
}

header .container-fluid {
  padding: 0px 35px;
}

 .display-3{
  font-size: 32px;
}
.Banner .display-3{
  text-align: center;
}
.Banner {
  text-align: center;
}
.inner-container {
  padding: 30px 30px;
}

.ourService .leftCol .innerBox {
  text-align: center;
}

.ourService .rightCol .innerBox {
  text-align: center;
}
.BigSizebtn.btnBlue{
  display: table;
  width: 74%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.FAQ_Section .accordion-button {
  padding: 30px 18px;
}
.ourService {
  padding-top: 0;
}

.VisaBanner{
  padding: 140px 12px;
  text-align: center;
}
.VisaBanner.UK_VistorPage0{
  background: linear-gradient(#10101060,#10101060), url('../image/UkVisitor.png') no-repeat right;
  background-size: cover;
  }
  .VisaBanner.USA_VistorPage0{
    background:linear-gradient(to right,#10101060,#10101060) no-repeat center,  url('../image/USA_Banner.png') no-repeat center;
    background-size: cover,cover;
    background-position: right;
    padding: 140px 95px;
    }
  .VisaBanner ul{
    margin-left: auto;
    padding: 16px  16px 16px 32px;
    background-color: #10101069;
    border-radius: 8px;
    margin-right: auto;
    width: fit-content;
  }
  .VisaBanner .therdH,.VisaBanner .display-3{
    color: #ffffff;
    text-align: center;
  }
  .visaContentSection .container-fluid>.row{
    margin-top: 50px;
    row-gap: 30px;
}
.visaContentSection .ReverseRowD{
  flex-direction: column-reverse;
}
 }

@media (max-width: 575.98px) {

  .secH {
    font-size: 26px;
  }

  .inner-container {
   margin: 0;
}
.inner-container:first-child {
 padding-bottom: 0;
}

  .navbar-brand {
    margin-right: 15px;
    width: 12rem;
}
.package-info-block{
  width: 100%;
}
.package-info-block::after{
  display: none;
}

}

 

