:root {
  --Black: #101010;
  --textGrey: #2e2e2e;
  --textLightGrey: #505050;
  --darkGreen: #10221b;
  --LightBgGrey: #f3f7fa;
  --primary: #151d45;
  --secondary: #d90f2f;
  --BgCream: #fcf9f6;
  --BGrey: #e1e3e5;
}

@media only screen and (min-width: 1920px) {}

@media (max-width: 1399.98px) {

  .idxStdt.std1 {
    right: 30%;
    top: 27%;
}
    
 }

@media only screen and (min-width: 1600px) and (max-width: 1900px) {}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
 
}



@media (max-width: 1199.98px) { 

  .Banner{
    background: url('../image/girl.png'), linear-gradient(var(--BgCream),var(--BgCream));
    background-position:  right bottom, center;
    background-repeat: no-repeat no-repeat;
    background-size: auto 465px, cover;
    isolation: isolate;
    }
    .idxStdt.std2 {
      right: 5%;
      top: 7.5%;
  }
  .idxStdt.std1 {
    right: 25%;
    top: 28%;
    z-index: -1;
}
.Banner .display-3 {
  font-size: 36px;
}
.Banner .container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 60px 30px;
}
.allLinksFooter{
  row-gap: 24px;
}
 }

 @media (max-width: 1086.98px) {
  .package-info-block{
    width: 50%;
  }
  .package-info-block:nth-child(even)::after{
    display: none;
  }
  .package-info-block::after {
    right: 19%;
}

 }

@media (max-width: 991.98px) { 
  .miniheader .container-fluid > .row {
    justify-content: center;
}

.Banner{
  background: linear-gradient(var(--BgCream),var(--BgCream));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .idxStdt{
    display: none;
  }
  .f-bottom .row{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
  }
  .f-bottom .inner{
    text-align: center;
  }
 }

 @media screen and (max-width: 912px) {
 

 }


@media (max-width: 767.98px) {

  .miniheader .fifthH {
   font-size: 16px;
}

header .container-fluid {
  padding: 0px 35px;
}

.Banner .display-3 {
  font-size: 32px;
  text-align: center;
}
.Banner {
  text-align: center;
}
.inner-container {
  padding: 30px 30px;
}

 }

@media (max-width: 575.98px) {
  
  .navbar-brand {
    margin-right: 15px;
    width: 12rem;
}
.package-info-block{
  width: 100%;
}
.package-info-block::after{
  display: none;
}

}

 

