@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/MavenPro-Medium.woff2") format("woff2"),
    url("../fonts/MavenPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/MavenPro-Bold.woff2") format("woff2"),
    url("../fonts/MavenPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/MavenPro-Black.woff2") format("woff2"),
    url("../fonts/MavenPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/MavenPro-Regular.woff2") format("woff2"),
    url("../fonts/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"),
    url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.woff2") format("woff2"),
    url("../fonts/NotoSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Italic.woff2") format("woff2"),
    url("../fonts/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/NotoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("../fonts/Corinthia-Bold.woff2") format("woff2"),
    url("../fonts/Corinthia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("../fonts/Corinthia-Regular.woff2") format("woff2"),
    url("../fonts/Corinthia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --Black: #101010;
  --textGrey: #2e2e2e;
  --textLightGrey: #505050;
  --darkGreen: #10221b;
  --LightBgGrey: #f3f7fa;
  --primary: #151d45;
  --secondary: #d90f2f;
  --BgCream: #fcf9f6;
  --BGrey: #e1e3e5;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  color: #2e2e2e;
  line-height: 1.7em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
.container-fluid {
  max-width: 1210px;
  padding: 0px 20px;
}
.display-3 {
  color: var(--skyblue);
  font-family: "Teko", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  margin-bottom: 28px;
}

.secH {
  color: var(--skyblue);
  font-family: "Teko", Helvetica, Arial, Lucida, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}

.therdH {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-size: 25px;
  color: var(--skyblue);
  line-height: 1.4em;
  font-weight: bold;
  font-style: normal;
}

.fourthH {
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 28.8px;
}
.fifthH {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.33em;
}

/* header css start */
header .container-fluid {
  max-width: 1700px;
  padding: 0 40px;
}
.Banner .container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 60px 80px;
}

.miniheader {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--primary);
}

a.phoneNu {
  color: #ffffff;
  transition: all 300ms ease;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7em;
}
a.phoneNu span {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  text-align: center;
  border-radius: 30px;
  background-color: #ffffff;
  color: var(--primary);
  font-size: 10px;
}
a.phoneNu span i {
  transform: translateY(-4px);
}

.miniheader a:hover {
  color: var(--secondary);
}

/* header{
  overflow-x: hidden !important;
} */
.effect{
  position: relative;
  overflow: hidden !important;
}
.book-now:after,
.effect::after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 80px !important;
    position: absolute;
    z-index: 1;
    animation: slide 3s infinite;
    /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
    /* IE6-9 */
}


/* animation */

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.miniheader .container-fluid > .row {
  justify-content: space-between;
}
.miniheader .fifthH{
  margin-bottom: 0;
}

/* Initial header styling */
#main-header {
  transition: all 0.5s ease;
  z-index: 1055;
}

/* Hidden when out of view */
.sticky-header {
  position: fixed;
  top: -112.48px; /* Hidden initially */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease; /* Slide down animation */
  animation: slideDown 0.5s ease-in-out both;
}
@keyframes slideDown {
  0% {
    position: fixed;
    top: -112.48px;
  }
  100% {
    position: fixed;
    top: 0;
  }
}
.headerAnimate {
  animation: slideUp 0.5s ease-in-out both;
}

@keyframes slideUp {
  0% {
    top: 50.48px;
    position: relative;
  }
  100% {
    top: 0px;
  }
}
.sticky-header.visible {
  top: 0; /* Slide into view */
}

.navbar-brand {
  margin-right: 45px;
  width: 13rem;
}

.dropdown-menu li {
  width: 260px;
  padding: 0 20px;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  content: "\f107";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  border: none;
}

.navbar {
  max-width: 100%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding:  20px 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
  padding: 15px 20px;
  padding-right: 28px;
  border-radius: 0;
  border-bottom: none;
  text-wrap: wrap;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 14px;
  color: var(--Black);
}
.nav-link {
  color: var(--Black);
    font-size: 16px;
    padding: 18px 0px !important;
    font-weight: 500;
    line-height: 30px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--secondary);
  border-bottom: 5px solid var(--secondary);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--secondary);
  border-bottom: 5px solid var(--secondary);
}
.bg-light {
  background-color: var(--BgCream) !important;
}

.navbar-nav {
  gap: 40px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--secondary);
  background-color: rgba(0, 0, 0, 0.03);
}


/* header css end */

/* banner css start */
.Banner{
background: url('../image/girl.png'), linear-gradient(var(--BgCream),var(--BgCream));
background-position:  right calc(100% + 70px), center;
background-repeat: no-repeat no-repeat;
background-size: auto 600px, cover;
position: relative;
}
.Banner .display-3{
    text-align: left;
    font-weight: 600;
    font-size: 44px;
    color: var(--primary);
    text-transform: capitalize;
    line-height: 1.20em;
    margin-bottom: 20px;
}
.Banner .btnCommon{
  margin-top: 20px;
}
.Banner .counter {
  font-size: 42px;
  color: #151d45;
  margin-bottom: 15px;
}
.Banner .counter-text {
  color: #151d45;
  font-weight: 500;
  line-height: 1.2;
}
.counter-Pare{
  max-width: 750px;
}

.idxStdt.std1 {
  right: 28%;
  top: 30%;
}
.idxStdt.std2 {
  right: 5%;
  top: 1.5%;
}
.idxStdt.std3 {
  right: 5%;
  top: 72%;
}
.idxStdt {
  position: absolute;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #d5d5d5;
}


/* banner css end */

.defaultPadding {
  padding: 50px 0;
}

.btnRed {
  display: inline-block;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 8px 20px;
  border-radius: 5px;
  line-height: 1.70em;
  color: #fff ;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btnRed:hover{
  background-color: transparent;
  border: 1px solid #d90f2f;
  color: #d90f2f !important;
}

.btnCommon {
  display: inline-block;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 11px 18px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #fff ;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btnCommon:hover{
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary) !important;
}
.btnRed i, .btnCommon i{
  margin-left: 12px;
}

/* services card section start */

.inner-container  .inner-box{
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.package-info-block .inner-box .icon {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  color: #151d45;
  font-size: 22px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #000000;
}
.package-info-block{
  position: relative;
}
.package-info-block::after{
  content: "";
  top: 50%;
  right: 9%;
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  width: 1px;
  height: 45px;
  background-color: #DEDEDE;
}
.package-info-block:last-child::after{
  display: none;
}
.inner-container {
  margin-top: 15px;
  padding: 30px 50px;
  row-gap: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
  background-color: #f3f7fa;
}
/* services card section end */

.BrandFooter{
  display: table;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 62px;
}
.footer-address{
  font-weight: 600;
}

.Footer{
  color: var(--primary);
  text-align: center;
}

.Footer a.phoneNu {
  color: var(--primary);
  transition: all 300ms ease;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7em;
}

.Footer a.phoneNu span {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  text-align: center;
  border-radius: 30px;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 10px;
}
.Footer a.phoneNu:hover {
  color: var(--secondary);
}
.Footer a.phoneNu:hover span {
  background-color: var(--secondary);
}
.Footer a.phoneNu span i {
  transform: translateY(-4px);
}
.footer-column{
  color: var(--primary);
}
.footer-column a{
  color: var(--primary);
}

.footer-column a:hover{
  color: var(--secondary);
  border-color: var(--secondary);
}

.socialIcon{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 8px;
  margin-bottom: 0;
}
.socialIcon li   a{
  display: flex;
  height: 28px ;
  width: 28px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  justify-content: center;
  align-items: center;
}

/* copyright section start  */
.f-bottom{
  background: #151d45;
  padding: 20px 0;
  color: #ffffff;
}
.f-bottom .row{
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
}
.policy a{
  color: #ffffff;
  font-weight: 600;
  transition: 0.3 ease-in-out;
}

.policy a:hover{
  color: var(--secondary);
}